div#buttons
    button(type='button' id = "becomeArtist" onclick="becomeArtist()") Become an Artist
    button(type='button' id = "becomePatron" onclick="becomePatron()") Become a Patron
    button(type='button' id = "logOut" onclick="logOut()") Log out

    script 
            include ../public/buttonsclient.js