div#header
    a(href="/") Home Page
    br
    | 
    a(href="/makeAccount") Make An Account
    br
    | 
    a(href="/logIn") Log In
    br
    | 
    a(href="/userProfile") Your Profile
    br
    |
    a(href="/searchArtWorks") Search Art Works
    br
    | 
    a(href="/addArtWorks") Add ArtWork
    br
    | 
    a(href="/addWorkShop") Add WorkShop
    br
    |
